.title {
  background: rgb(121, 242, 157);
}
.homePage{
  display: grid;
  grid-template-rows: 66px auto 70px;
  height: 100vh;
  .body {
   background-position: center;
   background-size: cover; 
  }
}